---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<p>Hi! I'm Shouvik.</p>
			<h3>My projects:</h3>
			<ul>
				<li><a href="https://github.com/ShouvikGhosh2048/3d-crossword">3D crossword</a>: A website to create and solve 3D crosswords. Built with React and React Three Fiber.</li>
				<li><a href="https://github.com/ShouvikGhosh2048/celeste-map-statistics">Celeste map statistics</a>: A visualization of various statistics of maps from Celeste mods. Built with Julia and Maple.</li>
				<li><a href="https://github.com/ShouvikGhosh2048/physics_reinforcement_learning_environment">Physics reinforcement learning environment</a>: A physics based reinforcement learning environment with a level editor. Built with Rust, Bevy, egui and Rapier.</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
